<body>
p2 
{
text-align: center;
}
</style>
<style>
h1
{
text-align: center;
border:2px solid brown;
background: lightseagreen;
}
</style>
<style>
p
{
text-align: left;
background: cyan;
}
div {
background: cyan;
color: black;
}
</style>
